<button type="submit" (click)=getData2()>ClickMe!!</button>
<div *ngIf=HasError>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
    </div>
    <table class=table table-stripped>
        <thead>
            <tr>
                <th (click)="sort('id')">
                    BankId
                    <i class="fa fa-sort"></i>
                </th>
                <th>
                    BankName
                </th>
                <th>
                    BankAddress
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of list |filter :term | orderBy:key:reverse|paginate:{itemsPerPage:2,currentPage:p}">
                <td>{{item.bankId}}</td>
                <td>{{item.bankName}}</td>
                <td>{{item.bankAddress}}</td>
                <button type="button"(click)="Delete(item.bankId)">Delete</button>
            </tr>
            
        </tbody>
        <pagination-controls (pageChange)="p=$event"></pagination-controls>
    </table>
</div>


<div class="container-fluid mb-5">
    <form #userform="ngForm" (ngSubmit)="postDetails()" novalidate>
            {{post | json}}
        <!-- <div class="form-group">
            <label>Empid</label>
            <input type="number" required #id="ngModel" [class.is-invalid]="id.invalid && id.touched"
             class="form-control" name= "Empid" [(ngModel)]="post.Empid">
        </div> -->
        <div class="form-group">
                <label>BankId</label>
                <input type="text" required #BankId="ngModel" [class.is-invalid]="BankId.invalid && BankId.touched"
                 class="form-control" name="BankId" [(ngModel)]="post.BankId">
                
            </div>
            <div class="form-group">
                    <label>BankName</label>
                    <input type="text" required #BankName="ngModel" [class.is-invalid]="BankName.invalid && BankName.touched"
                     class="form-control" name="BankName" [(ngModel)]="post.BankName">
                     
                </div>
                <div class="form-group">
                        <label>BankAddress</label>
                        <input type="text" required #BankAddress="ngModel" [class.is-invalid]="BankAddress.invalid && BankAddress.touched"
                         class="form-control" name="BankAddress" [(ngModel)]="post.BankAddress">
                  </div>
                  
                  <button class="btn btn-primary" type="submit" [disabled]="userform.form.invalid">Submit </button>

</form>
</div>


